**/bin/
**/obj/
.git/
.github/
.vs/
.idea/
.vscode/
Logs/
**/Logs/
*.log
*.user
*.suo
*.userosscache
*.sln.docstates
*.DotSettings.user
.DS_Store
Thumbs.db
publish/
**/publish/
appsettings.Development.json