# Build output
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / JetBrains
.idea/
*.DotSettings.user

# VS Code
.vscode/

# Visual Studio
.vs/

# Logs
*.log

# ASP.NET Core
appsettings.Development.json

# OS files
.DS_Store
Thumbs.db

# Publish output
publish/